
.home_banner{
    background: url(https://i.ibb.co/zN15rN2/top-view-white-working-desk-with-accessories-computer-laptop-coffee-cup-potted-plant-notebook-35674.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* padding: 100px 8%;
    height: 92vh; */
    position: relative;
    z-index: 1;
}

.home_banner::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    opacity: .9;
    background-color: #122033;
    z-index: -1;
}

/* Add this to your CSS or SCSS file */
.line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%);
    width: 30px; /* Adjust the width as needed */
    height: 1.5px; /* Adjust the height as needed */
    background-color: #F22225;
}


