.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.5); /* এখানে আপনি যেসব রঙ ব্যবহার করতে চান তা ব্যবহার করতে পারেন */
   opacity: 0;
   transition: opacity 0.3s ease;
 }
 
 .card:hover .overlay {
   opacity: 1;
 }
 